{% extends "base.html" %}
{% block content %}  
    <section class="register-photo">
        <div class="form-container" style="width: 977px;margin-top: 100px">
            <div class="image-holder" style="background: url({{bungalow_afbeelding}}) center;width: 472px;">
                <h1 class="text-center brand-heading"> {{bungalow_naam}} </h1>
            </div>
            <form method="post" action="/bevestig">
                <h2 class="text-center">Boeken.</h2>
                <div class="mb-3"></div>
                <div class="mb-3"></div>
                <div class="mb-3"></div>
                <div class="row" style="padding: 6px;margin-bottom: 17px;width: 388px;">
                    <div class="col-sm-12"><select class="form-select display-inline-block">
                            <option value="1" selected="">Januari</option>
                            <option value="2">Februari</option>
                            <option value="3">Maart</option>
                            <option value="4">April</option>
                            <option value="5">Mei</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">Augustus</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select><select class="form-select display-inline-block">
                            <option value="1" selected="">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select><select class="form-select display-inline-block">
                            <option value="20220" selected="">2022</option>
                            <option value="2023">2023</option>
                        </select></div>
                </div>
                <p><strong>t/m datum&nbsp; = boekingsdatum + 7 dagen &nbsp;</strong></p>
                <p class="text-dark">{{bungalow_prijs}}</p>
                <div class="mb-3">
                <button name="Bevestigen" class="btn btn-primary d-block w-100" type="submit" style="background: rgb(255,92,0);color: rgb(255,255,255);">boek nu</button></div>
            </form>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Zee en Duin 2022</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>
{% endblock %}