{% extends "base.html" %} {% block content %}

<head>
    <title>Bedankt! - Zee en Duin</title>
</head>
<section class="register-photo" style="margin-top: 0;height: 769px;">
    <section class="highlight-phone" style="margin-top: 111px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2 style="color: rgb(255,92,0);">Bedankt voor uw boeking!</h2>
                        <p>Wij gaan alles in orde maken. U krijgt een e-mail binnen met een bevestiging van uw boeking. U kunt maximaal 7 dagen van te voren de boeking annuleren.</p><a class="btn btn-primary" role="button" href="/mijn-boekingen" style="background: rgb(255,92,0);">Naar mijn boekingen</a>
                    </div>
                </div>
                <div class="col-sm-4" style="height: 332px;"><img class="rounded img-fluid" src="static/assets/img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg" style="height: 298px;margin-top: 15px;"></div>
            </div>
        </div>
    </section>
</section>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Zee en Duin 2022</p>
    </div>
</footer>
</body>

</html>
{% endblock %}