{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Home - Zee en Duin</title>
</head>
<header class="masthead" style="background: url(&quot;static/assets/img/preprocessed.jpg&quot;) repeat;background-size: cover;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Zee en duin</h1>
                    <p class="intro-text" style="background: rgba(120,69,69,0);color: rgb(255,255,255);margin-top: -31px;"><strong>Beste vakanatiepark Noord-Nederland</strong></p><a class="btn btn-primary btn-lg" role="button" style="background: rgb(230,128,35);border-color: rgba(255,255,255,0);color: rgb(255,255,255);" href="/login">Boek nu</a>
                </div>
                <div class="col"><img src="static/assets/img/last-minute-deals-2022-sticker.png" style="width: 275px;margin: 33px;"></div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="about" style="background: #e7dddd;">
    <div class="container">
        
        <div class="row product-list dev" style="margin-top: -260px;">
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="product-image" href="#"><img src="static/assets/img/iphone6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">iPhone 6s</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">compare </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                <div class="col-6">
                                    <p class="product-price">$599.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="product-image" href="#"><img src="static/assets/img/iphone6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">iPhone 6s</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">compare </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                <div class="col-6">
                                    <p class="product-price">$599.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-right">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="product-image" href="#"><img src="static/assets/img/iphone6.jpg"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">iPhone 6s</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">compare </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" type="button">Buy Now!</button></div>
                                <div class="col-6">
                                    <p class="product-price">$599.00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Zee en Duin 2022</p>
    </div>
</footer>
</body>

</html>
{% endblock %}