{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Home - Zee en Duin</title>
</head>
<header class="masthead" style="background: url(&quot;static/assets/img/preprocessed.jpg&quot;) repeat;background-size: cover;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Zee en duin</h1>
                    <p class="intro-text" style="background: rgba(120,69,69,0);color: rgb(255,255,255);margin-top: -31px;"><strong>Beste vakanatiepark Noord-Nederland</strong></p><a class="btn btn-primary btn-lg" role="button" style="background: rgb(230,128,35);border-color: rgba(255,255,255,0);color: rgb(255,255,255);" href="/login">Boek nu</a>
                </div>
                <div class="col"><img src="static/assets/img/last-minute-deals-2022-sticker.png" style="width: 275px;margin: 33px;"></div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="about" style="background: #e7dddd;">
    <div class="container">
        <div class="row product-list dev" style="margin-top: -350px;">
            {% for i in range(3) %}
            <div class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="product-image" href="#"><img src="{{bungalow_afbeelding[i]}}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h2><a href="#">{{bungalow_naam[i]}}</a></h2>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">compare </a></div>
                    </div>
                    <div class="product-rating"><a class="small-text">{{aantal[i]}} personen</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">{{bungalow_omschrijving[i]}}</p>
                            <form method="GET" action="boek">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-light" name="bungalow" value="{{bungalow_id[i]}}" type="submit">Boek nu!</button></div>
                                <div class="col-6">
                                    <p class="product-price">{{bungalow_prijs[i]}}</p>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Zee en Duin 2022</p>
    </div>
</footer>
</body>

</html>
{% endblock %}